@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// @import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/forms";


.input-auth {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

// $font-stack: Helvetica, sans-serif;
// $primary-color: #333;

// body {
//     font: 100% $font-stack;
//     color: $primary-color;
// }
